{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br>
    <div class="container center">
      <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
              <div class="my-5 text-center text-xl-start">
                <h1 class="text-center">Logged Out Successfully.</h1> <br>
                <h3>Want to go back home page?</h3>
                <a href="/" class="btn btn-warning btn-lg">Yes</a>
              </div>
          </div>
      </div>
    </div>
    
{% include "exam/footer.html" %}

  </body>
</html>
